@import url("https://use.typekit.net/oqg8qen.css");

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root {
    --mainColor: #304646;
    --lightBlue: #679999;
    --brightBlue: #38716e;
    --darkblue: #121919;
    --greyBlue: #95acad;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(#2f4646, #122121, #2f4646);
  }

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color: white;
    /* font-size: small; */
}

.paddingLTwenty {
    padding-left: 200px;
}

.aboutSect {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.padTen {
    padding: 10%;
}

.fontMed {
    font-size: medium;
}

.script {
    font-family: alpine-script, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 400%;

}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    /* background-image: url('../assets/patternGrey.png'); */
    background-repeat: repeat-x repeat-y;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(255, 255, 255, 0.281), rgba(31, 42, 42, 0)90%);
}

.subHero {
    font-size: 400%;
    margin: 0;
    height: 40px;
}


footer {
    margin-top: 50px;
    display: flex;
    padding: 10px 10%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.281), rgba(31, 42, 42, 0)98%, rgba(255, 255, 255, 0.575));
}

footer li {
    padding: 10px;
    font-size: 100%;
}

footer a {
    padding: 10px;
}

.logo {
    width: 40%;
    min-width: 50px;
}

.logo img {
    width: 100%;
}

.nav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-top: 30px;
    min-width: 525px;
    text-decoration: none;
}

.nav-link {
    font-size: 120%;
    text-decoration: none;
    /* color: black; */
}



.socialMedia {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.socialMedia img {
    width: 50px;
    /* padding: 30px; */
}

.hero {
    height: 60vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(31, 42, 42); */
    /* background-image: linear-gradient( rgb(22, 54, 53), rgb(39, 86, 85)); */
    background-size: 10%;
    background-image: url('../assets/patternComplex2.svg');
    padding-left: 20%;
    color: black;
    /* opacity: .6; */
}


.aboutText {
    /* background-color: rgb(31, 42, 42, .2); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50%;
}

/* .aboutText p {
    font-size: 32pt;
} */



.homeServices {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
}
.homeServices div {
    /* flex: 1 1 400px; */
    background-image: linear-gradient(#122121, #122121);
    background-color: rgba(255, 255, 255, 0.235);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    color: white;
    height: 300px;
    justify-content: space-evenly;
    padding: 20px;
    transition: 1s;
    /* width: 45%; */
}

/* .homeDesign {
    align-self: flex-end;
} */

.homeServices div:hover{
    /* flex-grow: 1.2; */
    box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.16), 0 0 20px black;
}

.values {
    width: 80%;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
}

.values div {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.values section {
    display: flex;
    align-items:last baseline;
    line-height: 50px;
}

.values h1 {
    font-size: 400%;
}

.values h2 {
    padding-left: 20px;
    font-size: 400%;
}

.excValues {
    display: flex;
    align-self: end;
    margin-right: 20%;
}

.dilValues {
    margin-left: 10%;
}


/* Projects page only */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packages, .extras {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 10%;
    text-align: center;
    /* background-color: #ffffffac; */
    /* border: 1px solid rgba(255, 255, 255, 0.516); */
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.79), rgba(255, 255, 255, 0.505)); */
    /* box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.689); */
    /* border-bottom: 2px solid #ffffffe2; */
    /* background-image: linear-gradient( rgba(31, 42, 42, 0)99.5%, rgba(255, 255, 255, 0.575)); */
}

.packages *, .extras * {
    color: black;
    font-weight: 300;
}

.eachPackage {
    margin: 30px;
    /* min-width: 300px;
    max-width: 400px; */
    width: 300px;
    height: 350px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.313);

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(#ffffffe2, #ffffff77);

}

.eachPackage h5 {
    font-size: 120%;
}

.includesItem {
    margin: 0;
}

/* .extras {
    margin: 10px 20%;
} */

.eachPackage li {
    text-align: left;
    list-style: decimal;
}

/* DesignDetails page */
.mainDesc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.mainDesc img, .mainDesc div {
    width: 40%;
    font-size: 120%;
}

/* contact page */

.contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.contactCollum {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.emailLink {
    text-decoration: none;
}

/* about page  */
.team img {
    width: 20%;
    border-radius: 10px;
    object-fit: cover;
}

.team {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    align-items: center;
    width: 100%;
}

.teamText {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamText h3, .teamText h2 {
    margin: 2px;
}

.patternLine {
    height: 60px;
    width: 100%;
    background-image: url('../assets/patternComplex2.svg');
    /* background-repeat: repeat-x; */
    background-size: 4%;
}

/* portfolio page */
.portfolio {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

/* .eachPackage * {
    color: black;
} */

/* .eachPackage li {
    padding: none;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

Link {
    text-decoration: none;
}

img {
    width: 20%;
    border-radius: 10px;
    object-fit: cover;
}

li {
    list-style: none;
}

h6 {
    font-size: 100%;
}

a:hover, button:hover {
    cursor: pointer;
  }

button {
    border: none;
    /* background-image: linear-gradient( rgb(222, 244, 243),rgb(177, 223, 223), rgb(135, 176, 176)); */
    background-color: rgb(82, 128, 121);
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 
    0px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    0px -8px 12px 0 rgba(0, 0, 0, .25) inset;
    font-size: 100%;
    color: white;
    margin-top: 30px;
}



